/* Font & Style Settings */
@font-face {
  font-family: "Yekan";
  src: url(public/fonts/IRANYekanX-Bold.woff2) format("woff2");
  src: url(public/fonts/IRANYekanX-Regular.woff2) format("woff2");
}
body {
  font-family: "Yekan";
  box-sizing: border-box;
  margin: 0;
  direction: rtl;
}

.flex {
  display: flex;
}

/* ••••••••••••• Body ••••••••••••• */
/*********** header **********/
.header {
  margin: 0 auto;
  position: sticky;
  width: 1076px;
  height: 67px;
  border-bottom-left-radius: 240px;
  border-bottom-right-radius: 240px;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(16px);
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.list-header {
  justify-content: center;
  align-items: center;
  gap: 40px;
  transition: 0.5s;
}
.list-header > li > a {
  color: black;
}

.list-header > li > a > img {
  width: 122px;
  /* height: 40px; */
}

#language-setting {
  width: 75px;
  height: 47px;
}
/* All of Them in HTML Doc */
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/*********** Main **********/
.container {
  margin: 0 auto;
  margin-top: 70px;
  position: relative;
  width: 1076px;
  height: 595px;
  align-items: center;
}

.container-text {
  position: relative;
  width: 628px;
  height: 297px;
}

.toranj-bold-text {
  width: 301px;
  height: 83px;
  font-size: 48px;
  font-weight: bold;
  line-height: 82.91px;
  text-align: right;
  background: linear-gradient(270deg, #212125 0%, #246d42 99.68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 4px 0;
}

.container-text-toranj-info {
  width: 594px;
  height: 113px;
  margin: 0;
  margin-top: 12px;
  color: rgba(83, 83, 91, 1);
  line-height: 41.45px;
  font-size: 24px;
}

#bird {
  position: absolute;
  top: 0px;
  left: 182px;
  right: 548px;
  bottom: 4877px;
}

.product-show-button {
  margin-top: 24px;
  width: 628px;
  height: 51px;
}

.product-show-button > button {
  color: white;
  background-color: rgba(35, 157, 96, 1);
  padding: 8px 16px;
  font-family: "Yekan";
  border-radius: 32px 16px;
  border-style: none;
  width: 196px;
  height: 51px;
  line-height: 34.55px;
  font-size: 20px;
  transition: 500ms;
  box-shadow: 0px 16px 32px 0px rgba(35, 157, 96, 0.48);
}
.product-show-button > button:hover {
  color: white;
  background-color: rgba(35, 157, 96, 0.7);
  transition: 500ms;
  padding: 8px 16px;
  font-family: "Yekan";
  border-radius: 32px 16px;
  border-style: none;
  width: 196px;
  height: 51px;
  line-height: 34.55px;
  font-size: 20px;
  box-shadow: 0px 16px 32px 0px rgba(35, 157, 96, 0.48);
}
.product-show-button > button:active {
  color: white;
  background-color: rgba(36, 109, 66, 1);
  transition: 500ms;
  padding: 8px 16px;
  font-family: "Yekan";
  border-radius: 32px 16px;
  border-style: none;
  width: 196px;
  height: 51px;
  line-height: 34.55px;
  font-size: 20px;
  box-shadow: 0px 16px 32px 0px rgba(35, 157, 96, 0.48);
}
.product-show-button > button:disabled {
  color: white;
  background-color: rgba(178, 178, 178, 1);
  transition: 500ms;
  padding: 8px 16px;
  font-family: "Yekan";
  border-radius: 32px 16px;
  border-style: none;
  width: 196px;
  height: 51px;
  line-height: 34.55px;
  font-size: 20px;
  box-shadow: 0px 16px 32px 0px rgba(35, 157, 96, 0.48);
}

/*********** Slider Bird **********/
.slider-one {
  direction: ltr;
  width: 1076px;
  height: 352px;
  margin: 0 auto;
  margin-top: 50px;
  width: 1124px;
  height: 352px;
  border-radius: 160px 32px 32px 32px;
  overflow: hidden;
  background-color: #246d42;
}
